doctype html
head
    title Test some features
    link( rel="stylesheet" type="text/css" href="/style.css")
body
    ul.drop
    ul.main
        li(data-index=2 data-level=1) 1243
        li(data-index=3 data-level=2) 14324
        li(data-index=4 data-level=3) 41324
        li(data-index=5 data-level=4) 1234
        li(data-index=6 data-level=5) 41234
        li(data-index=7 data-level=5) 142342
    ul.drop
        li(draggable="true") 67841234
    script(src="/main.js" type="text/javascript")
